<?xml version="1.0"?>
<configuration>
    <connectionStrings>
<!--
    <add name="connStr" connectionString=" Data Source=SQL5033.site4now.net;Initial Catalog=DB_A2B657_logerror;User Id=DB_A2B657_logerror_admin;Password=Logerror@123;" />
-->

      <!--
<add name="connStr" connectionString=" Data Source=198.38.83.200;Initial Catalog=pedro89_practicas2018;User Id=pedro89_practicantes2018;Password=desarrollo2018;"/>
-->

<add name="connStr" connectionString=" Data Source=DESKTOP-SF4F2O8\SQLEXPRESS;Initial Catalog=Incidencias;Integrated Security=True" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2000000000" /><!--50MB-->
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime requestValidationMode="2.0" executionTimeout="300" maxRequestLength="1024000000 " />
    <compilation debug="true" targetFramework="4.0" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <sessionState  timeout="86400"/>
  </system.web>
</configuration>
